<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navbar</title>
     <!-- Google Fonts - Lobster - Regular 400  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- Google Fonts - Varela Round - Regular 400 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <!-- External CSS -->
    <link rel="stylesheet" href="{{asset('assets/css/welcome.css')}}">
</head>
<body>
    <div class="all">
        <nav class="top-nav">
            <ul>
                <li>Store</li>
                <li class="phone">1-234-567-8970</li>
                <li class="cart">Cart</li>
            </ul>
        </nav>
        <header class="second">
            <ul>
                <li><ion-icon class="search" name="search-outline"></ion-icon></li>
                <li class="book_shop">BookShop</li>
                <li class="items">Items</li>
            </ul>
        </header>
        <nav class="third">
            <ul>
                <li>Novels</li>
                <li class="audiobooks">Audiobooks</li>
                <li class="games">Games</li>
            </ul>
        </nav>
</body>
</html>
